/*------------------------------------*\
    Glboal
\*------------------------------------*/
$linkColor: color(third, txt);

header.header {
  @include transition(height, 1);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 91px;
  &.sticky {
    height: $headerMinHeight;
    box-shadow: $boxShadow;
  }
}

.header-wrapper {
  background: rgba(color(main), 0.9);
}
.header-container {
  @include transition(height, 1);
  @extend .container;
  min-height: $headerMinHeight;
  align-items: center;
  height: 100%;
  padding-top: spacing(xxs);
  padding-bottom: spacing(xxs);
}

.logo {
  position: relative;
  z-index: 99;
  display: flex;
  max-height: 100%;
  height: 100%;
  flex: 0 1 max-content;
  .logo-img {
    max-height: 100%;
    max-width: 100%;
  }
}
nav.main-nav {
  flex: 1 1 auto;
}

.wp-header-menu {
  flex: 0 1 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  .menu-item {
    > a {
      color: $linkColor;
      font-weight: bold;
      font-size: fs(sm);
      @include on-event() {
        color: $mainColorActiveHover;
      }
    }
  }
}

.rotate-arrow {
  transform: rotate(180deg);
}

/*------------------------------------*\
	Desktop Only
\*------------------------------------*/
@media only screen and (min-width: $mobileBreakpoint) {
  .main-nav {
    padding: 0 $defaultPadding;
  }
  .wp-header-menu {
    > .menu-item {
      position: relative;
      > a {
        @include transition(color, 0.5);
        text-transform: uppercase;
        padding: $defaultPadding;
      }

      .mobile-nav-arrow {
				@include multiple-transition((transform,color),1);        
        display: none;
        color: $mainColorActive;
      }
      .sub-menu {
        list-style: none;
        display: block;
        position: absolute;
        background: #f4f6f7;
        top: calc(100% + 7px);
        width: max-content;
        min-width: auto;
        max-width: initial;
        z-index: 11;
        opacity: 0;
        max-height: 1000px;
        overflow: hidden;
        transform: translateY(20px);
        transform-origin: 50% 0;
        -webkit-transform-origin: 50% 0;
        transition: 500ms;
        pointer-events: none;
        li {
          &.current-menu-item {
            border-left-color: $mainColorActiveHover;
            background: color(main);
            a {
              &::before {
                display: none;
              }
            }
          }
          width: 100%;
          padding: $defaultPadding spacing(m);
          @include transition__medium;
          border-left: 3px solid transparent;

          &:not(:first-child) {
            border-top: 1px solid #dfe5e8;
          }

          @include on-event() {
            background: color(main);
            border-left-color: $mainColorActiveHover;
            a {
              color: $linkColor;
            }
          }

          a {
            font-size: fs();
            font-weight: 400;
            @include on-event(true) {
              color: $linkColor;
            }
          }
        }
      }
      @include on-event() {
        .sub-menu {
          pointer-events: all;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  //main nav active
  .wp-header-menu li.current-menu-parent ~ div:not(.current-menu-item) > a,
  .wp-header-menu li.current_page_item ~ div:not(.current-menu-item) > a,
  .wp-header-menu li.current-menu-item > a,
  .wp-header-menu .current-menu-ancestor > a {
    position: relative;
    color: $mainColorActive;
    &::before {
      content: "";
      border: 2px solid $mainColorActive;
      position: absolute;
      width: 100%;
      height: 30px;
      top: 50%;
      transform: translatey(-50%);
      left: 0;
    }
  }

  //sub-menu styles
  li.menu-item ul.sub-menu > a {
    @include on-event(true) {
      color: color(secondary);
    }
    &.current-menu-item > a {
      color: color(secondary);
    }
  }
}

/*------------------------------------*\
	Mobile Only
\*------------------------------------*/
@media only screen and (max-width: $mobileBreakpoint) {
  .header-container {
    justify-content: space-between;
    .logo,
    .search-form-wrapper,
    nav.main-nav {
      flex: 0 1 auto;
    }
    .logo {
      order: 1;
    }
    .search-form-wrapper {
      order: 2;
    }
    nav.main-nav {
      order: 3;
    }
  }

  #mobile-menu-handler,
  #mobile-menu-handler * {
    will-change: transform;
    @include multiple-transition((transform, background-color), 1);
  }

  #mobile-menu-handler {
    display: block;
    z-index: 99;
    cursor: pointer;
    @include on-event() {
      div {
        background-color: $mainColorActiveHover;
      }
    }
    div {
      width: spacing(m);
      height: 3px;
      border-radius: 2px;
      margin-bottom: 4px;
      background-color: $mainColorActive;
    }

    &.active {
      div {
        background-color: color(main);
      }
      #top {
        transform: translateY(4px) rotate(-135deg);
      }
      #middle {
        opacity: 0;
        transform: rotate(135deg);
      }
      #bottom {
        transform: translateY(-10px) rotate(-45deg);
      }
      @include on-event() {
        div {
          background-color: $mainColorActiveHover;
        }
      }
    }
  }

  #menu-body {
    will-change: transform, opacity;
    position: fixed;
    display: block;
    top: 0px;
    bottom: 0;
    right: -100%;
    width: 100%;
    opacity: 0;
    padding: $defaultSpacing 0px;
    background-color: rgba($mainColorActive, 0.95);
    overflow: auto;
    z-index: 98;
    @include multiple-transition((right, opacity), 1);
    &.active {
      right: 0px;
      opacity: 1;
      box-shadow: $boxShadow;
      overflow: hidden;
    }
  }

  .wp-header-menu {
    display: block;
    border-bottom: none;
    width: 100%;
    position: relative;
    transform: translateY(-50%);
    top: 50%;

    > .menu-item {
      position: relative;
      cursor: pointer;
      display: block;
      width: 100%;
      text-align: center;
      padding: $defaultPadding;
      a {
        @include transition(color, 1);
        color: color(main);
        font-size: fs("lg");
        @include on-event() {
          color: $mainColorActiveHover;
        }
      }
      .sub-menu {
        display: none;
        padding-top: $defaultPadding;
      }

      .mobile-nav-arrow {
        @include multiple-transition((transform, color), 1);
        display: inline-block;
        color: color(main);
        position: absolute;
        right: $defaultPadding;

        &.rotate-arrow {
          transform: rotate(180deg);
          @include on-event() {
            transform: scale(1.15) rotate(180deg);
          }
        }
        @include on-event() {
          transform: scale(1.15);
          color: $mainColorActiveHover;
        }
      }
    }
  }
}
