//grid
$maxColSize: 12;
$breakpoints: (
	991: 12,
	768: 12,
	580: 12,
	480: 12
);
$gutterSize: 0;

//spacing
$spacing: ( 0, 10, 15, 25, 30, 50, 100);

//colors
$colormap: (
	blue: (
		main: #212331,
		hover: #01b3cc,
    txt: #3c3950 ,    
  ), 
  
	purple: (
		main: #673f92,
		hover: #7a4ba6,
		txt: #673f92,
  ),
  white:(
    main: #fff,
    hover: #eee,
    txt: #fff,
  ),
  black:(
    main: #010101,
    hover: #444,
    txt: #333
  ),
  gold:(
    main: #f7df73,
    hover: #f7df73,
    txt: #f7df73
  )
);

$lightblueAlpha: rgba(19, 111, 179, 0.007);


$fontsize: (
  sm: 14px,
  init: 16px,
  m: 18px,
  lg: 26px,
  xl: 36px,
  xxl: 60px,
);

$mainColorActive: color(blue,hover);
$mainColor: color(black, txt);
$mainColorActive2: hsl(15, 73%, 38%);

$bgColorPri: #fff;
$bgColorSec: #fff;
$lightBlack: hsl(15, 73%, 48%);;

$wrapperWidth: 1200px;
$defaultPadding: 15px;
$wrapperPaddingRight: 15px;
$headerMinHeight: 30px;


@function color($color-name, $color-variant:null) {
  @if $color-variant != null {
    @return map-get(map-get($colormap,$color-name),$color-variant);
  } @else {
    @if type-of(map-get($colormap,$color-name)) == 'map' {
      @return map-get(map-get($colormap,$color-name),main);
    } @else {
      @return map-get($colormap,$color-name);
    }
  }
}


@function fs($fs:'init'){
@return map-get($fontsize, $fs);
}