//set up ur theme here
$maxColSize: 12;
$breakpoints: (
	991: $maxColSize,
	768: $maxColSize,
	580: $maxColSize,
	480: $maxColSize
);

$spacing: (
  0: 0, 
  xs: 10, 
  sm: 15, 
  m: 25, 
  lg: 30, 
  xl: 50, 
  xxl: 100
);

$colormap: (	
	white: (
		main: #fff,
		hover: #eee,
		txt: #fff
	),
	black: (
		main: #010101,
		hover: #444,
		txt: #333
	),
	blue: (
		main: #001eff,
		hover: #01b3cc,
		txt: #3c3950
	),	
);

$fontsize: (
	sm: 14px,
	init: 16px,
	m: 18px,
	lg: 26px,
	xl: 36px,
	xxl: 60px
);

$wrapperWidth: 1200px;
$headerMinHeight: 30px;
$defaultSpacing: 50px;
$defaultPadding: 15px;
$gridGutterSize: 0;

// font color, borders
$mainColor: color(black, txt);
//base hovers / actives
$mainColorActive: color(blue);
//alternate hovers / actives
$mainColorActiveHover: color(blue, hover);



