/*------------------------------------*\
	Set up theme here
\*------------------------------------*/
//main header min size
$headerMinHeight: 61px;

/*-- Grid ----------------------------*/

//default wrapper width
$wrapperWidth: 1200px;
//cell spacing - default 0 
$gridGutterSize: 0;
//cell numbers
$maxColSize: 12;

//@TODO rebuild breakpoints to use it in @media queries
$breakpoints: (
	991: $maxColSize,
	768: $maxColSize,
	580: $maxColSize,
	480: $maxColSize
);
//main breakpoint
$mobileBreakpoint: 991px;
/*-- Grid END ------------------------*/

/*-- Spacing -------------------------*/
$spacing: (
	0: 0, 
	xxs: 5,
  xs: 10, 
  sm: 15,   
  m: 25,  
  lg: 30, 
  xl: 50, 
  xxl: 100  
);
//shorthands for spacing etc
$defaultSpacing: spacing(xl); //50
$defaultPadding: spacing(sm); //15
/*-- Spacing END ---------------------*/

/*-- Colors --------------------------*/
$colormap: (	
	main: (
		main: hsl(0, 0%, 100%),
		hover: hsl(0, 0%, 80%),
		txt: hsl(0, 0%, 75%)
	), 
	secondary: ( 
		main: hsl(0, 0%, 0%),
		hover: hsl(0, 0%, 20%),
		txt: hsl(0, 0%, 20%)
	),
	third: (
		main: hsl(187, 100%, 40%),
		hover: hsl(187, 50%, 40%),
		txt: hsl(187, 50%, 50%)
	),	
);
// base for font txt
$mainColor: color(secondary, txt);
//base for links 
$mainColorActive: color(third);
//base for hovers / actives
$mainColorActiveHover: color(third, hover);
$boxShadow:  -1px 1px 5px 0px #4f4f4f;
/*-- Colors END ----------------------*/

/*-- Fontsizes -----------------------*/
$fontsize: (
	sm: 14px,
	init: 16px,
	m: 18px,
	lg: 26px,
	xl: 36px,
	xxl: 60px
);


/*-- Fontsizes END -------------------*/



